.container {
    width: 80%;
    margin: 1rem auto;
}

.margin-top-sm {
    margin-top: 2rem;
}

.margin-top-lg {
    margin-top: 3rem;
}

@media (max-width: 1399px) {
    .container {
        width: 85%;
        margin: 1rem auto;
    }
}

@media (max-width: 900px) {
    .container {
        width: 90%;
        margin: 1rem auto;
    }
}