@use "./../abstracts/" as *;

.article {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-right {

            &>p {
                padding: 1rem 0;
                color: $medium-black-col;
            }
        }

        &-left {
            &>a {
                padding: 1rem 1rem;
                display: inline-block;
                text-decoration: none;
                color: $light-black-col;
                box-shadow: 0 0 20px rgb(0 0 0 / 6%);
                background: #354ac4;
                background-image: linear-gradient(45deg, #354ac4, #7789f6);
                border-radius: 2rem;
            }
        }
    }

    &__body {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &-article {
            border-radius: 1rem;
            border: 1px solid $light-black-col;
            // overflow: hidden;
            padding: 1rem;
            // width: 90%;
            flex: 0 0 300px;
            max-width: 90%;
            border-radius: 1rem;
            overflow: hidden;
            flex: 0 0 380px;

            &:hover {
                box-shadow: 0 0 20px rgb(0 0 0 / 6%);
            }

            &-image {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width:420px) {
    .article {
        &__head {
            display: flex;
            flex-direction: column;

            &-left {
                align-self: end;
            }
        }

    }
}