@use "./../abstracts/" as *;

.footer {
    &__head {
        display: flex;
        gap: 2rem;
        font-size: $font-xs;
        align-items: center;
        justify-content: space-around;
        font-weight: 200;
        flex-wrap: wrap;

        &-story {
            flex: 0 0 320px;

            &>h4 {
                margin-bottom: 1rem;
            }

            &>a {
                display: inline-block;
                padding: 1rem 0;
                color: $tertiary-col;
                text-decoration: none;
            }
        }

        &-trust {
            flex: 0 0 320px;

            &>h4 {
                margin-bottom: 1rem;
            }

            &>a {
                display: inline-block;
                padding: .8rem 1.2rem;
                border-radius: 2rem;
                background-color: $secondary-col;
                text-decoration: none;
                margin-top: .4rem;
            }
        }

        &-social {
            flex: 0 0 320px;
            max-width: 98%;

            &>h4 {
                margin-bottom: 1rem;
            }

        }

        &-icon {
            display: flex;
            gap: .7rem;
            align-items: center;
            justify-content: space-around;

            &-youtube,
            &-instagram,
            &-telegram {
                box-shadow: #fd353560 0 7px 30px;
                border-radius: 1rem;
                overflow: hidden;
                padding: 1rem 2rem;
                display: flex;
                gap: .8rem;
                flex-direction: column;
                align-items: center;
                color: #ffffff;
                justify-content: center;

                &>img {
                    width: 48px;
                    height: 48px;
                }
            }

            &-youtube {
                background-color: #fd3535;
                background-image: linear-gradient(120deg, #fd7478, #fd3535);
            }

            &-instagram {
                background-color: #E96791;
                background-image: linear-gradient(120deg, #F47778, #E96791);
            }

            &-telegram {
                background-color: #0391ff;
                background-image: linear-gradient(120deg, #03c1ff, #0391ff);
            }
        }
    }

    &__bottom {
        margin-top: 1rem;

        &>ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: center;
            font-size: $font-sm;
            font-weight: 200;

            &>li:hover>a {
                background-color: $light-black-col;
            }

        }

        & a {
            text-decoration: none;
            padding: .7rem 1rem;
            display: inline-block;
        }

        &-copyright {
            margin-top: 1rem;
            text-align: center;
            font-size: $font-sm;
            font-weight: 200;
        }
    }
}